body {
    height: 100%;
    margin: 0;
    background: rgb(255, 196, 0);
    background: linear-gradient(90deg, rgba(255, 196, 0, 1) 0%, rgba(241, 241, 241, 1) 20%, rgba(241, 241, 241, 1) 80%, rgba(255, 196, 0, 1) 100%);
    font-family: 'firasans';
    }

    .menu {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #000;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 10%;
    align: left;
    height: 100px;
    background-image: url(../images/wasd-logo.png);
    background-size: contain;
    background-repeat: repeat-x;
}

.logo img {
    max-width: 100%;
    max-height: 30px;
}

.menu-element {
    display: inline-block;
    height: 80px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15pt;
    vertical-align: middle;
    color: #F7D900;
    font-size: 2vw;
}
#headerF {
  position: relative;
  min-height: 253px;
}
#headerS {
  position: relative;
  min-height: 334px;
}
#headerT {
  position: relative;
  min-height: 70px;
}
#header-content {
  position: absolute;
  bottom: 0;
  left: 0;
}
#header-contentFO {
  position: absolute;
  bottom: 0;
  left: 0;
}
#headerFO {
  position: relative;
  min-height: 70px;
}
.menu-element:hover  {
background-color:white;
border-radius: 500px;
color:black;
}
